
  <div class="basic-intro mb-35 text-center">
    <h2 class="title white">
      <span class="text-1 text-style-5">Blogs</span>
     </h2>
  </div>

  <!-- Blog -->
  <section id="blogs" class="shock-section pt-5 pb-5">
    <div class="container">
      <!-- Posts -->
      <div id="load-more" class="row g-5" data-display="6" data-columns="3">

        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Icon -->
            <div class="sticky-post-icon primary-25">
              <i class="fas fa-thumbtack icon primary"></i>
            </div>
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By Yajindra Gautam</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--lhuM_mIF--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/w6aywqykbn1dhvsjffkv.png" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">Final Value of Variable After Performing Operations</h3>
              <p class="description line-clamp-3">Final Value of Variable After Performing Operations (LeetCode easy problem). There is a programming language with only four operations and one variable</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a target="_blank" href="https://dev.to/yajindragautam/final-value-of-variable-after-performing-operations-412n" class="full-link"></a>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Icon -->
            <div class="sticky-post-icon primary-25">
              <i class="fas fa-thumbtack icon primary"></i>
            </div>
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By Yajindra Gautam</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--w01X1s6Y--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/tt9g0t5289pz6wcl8byj.png" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">Maximum Number of Words Found in Sentences</h3>
              <p class="description line-clamp-3">Maximum Number of Words Found in Sentences
                A sentence is a list of words that are separated by a single space with no leading or trailing spaces.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a target="_blank" href="https://dev.to/yajindragautam/maximum-number-of-words-found-in-sentences-5f58" class="full-link"></a>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Icon -->
            <div class="sticky-post-icon primary-25">
              <i class="fas fa-thumbtack icon primary"></i>
            </div>
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By Yajindra Gautam</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--G9S7xg9O--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/ckuoy8r8pg8t9eltxoyq.jpg" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">CamelCase Hackerrank [Easy Solution]</h3>
                <p class="description line-clamp-3">There is a sequence of words in CamelCase as a string of letters, , having the following properties.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a target="_blank" href="https://dev.to/yajindragautam/camelcase-hackerrank-easy-solution-eci" class="full-link"></a>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Icon -->
            <div class="sticky-post-icon primary-25">
              <i class="fas fa-thumbtack icon primary"></i>
            </div>
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By Yajindra Gautam</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--dvjNxfgm--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/p7qgf76negpt4wl9sy7o.png" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">how to download tiktok video without watermark/h3>
              <p class="description line-clamp-3">There is my TikTok video downloader available on the internet. Not only that different android apps are also available to download tiktok videos.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a target="_blank" href="https://dev.to/yajindragautam/how-to-download-tiktok-video-without-watermark-1lc6" class="full-link"></a>
          </div>
        </div>

       
      </div>
      <div class="mt-4 text-center">
        <!-- Button -->
        <button id="load-more-button" class="button double-edge transparent black-hover">
          <span class="button-text white white-hover">Load more</span>
          <i class="fa-solid fa-rotate-right button-icon black white-hover"></i>
          <span class="overlay gray-50 magnetic-effect"></span>
        </button>
      </div>
    </div>
  </section>