
  <div class="basic-intro mb-35 text-center">
    <h2 class="title white">
      <span class="text-1 text-style-5">Blogs</span>
     </h2>
  </div>

  <!-- Blog -->
  <section id="blogs" class="shock-section pt-5 pb-5">
    <div class="container">
      <!-- Posts -->
      <div id="load-more" class="row g-5" data-display="6" data-columns="3">
        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Icon -->
            <div class="sticky-post-icon primary-25">
              <i class="fas fa-thumbtack icon primary"></i>
            </div>
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By John Young</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="assets/images/jpg/a-9.jpg" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">Why design<br> matters to our lives?</h3>
              <p class="description line-clamp-3">Design is a broad concept that represents the process of creating products based on technical and aesthetic excellence.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a href="#your-link" class="full-link"></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By Laura Garcia</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="assets/images/jpg/a-7.jpg" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">How to become a<br> successful web designer?</h3>
              <p class="description line-clamp-3">You must have the technical prowess required to create functional websites, as well as the artistic talent to build compelling designs.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a href="#your-link" class="full-link"></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By Alice Johnson</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="assets/images/jpg/a-15.jpg" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">The best WordPress themes according to experts.</h3>
              <p class="description line-clamp-3">We compare themes with the best consistency of design, performance and friendly support so you can't go wrong when choosing.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a href="#your-link" class="full-link"></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By Kaled Ahmad</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="assets/images/jpg/a-14.jpg" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">The search for digital marketing has increased.</h3>
              <p class="description line-clamp-3">The growth in the number of users has made companies increasingly invest in this sector, bringing new job opportunities.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a href="#your-link" class="full-link"></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By Dimitri Smirnov</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="assets/images/jpg/a-11.jpg" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">Reading books helps make a person better.</h3>
              <p class="description line-clamp-3">Books are a rich source of information. A good reason to read books is to acquire knowledge in a specific area.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a href="#your-link" class="full-link"></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By John Young</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="assets/images/jpg/a-21.jpg" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">The president of the company will give a speech.</h3>
              <p class="description line-clamp-3">He will likely talk about the company's new plans and what's to come in the next few days. It will be an important day.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a href="#your-link" class="full-link"></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Icon -->
            <div class="sticky-post-icon primary-25">
              <i class="fas fa-thumbtack icon primary"></i>
            </div>
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By John Young</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="assets/images/jpg/a-9.jpg" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">Why design<br> matters to our lives?</h3>
              <p class="description line-clamp-3">Design is a broad concept that represents the process of creating products based on technical and aesthetic excellence.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a href="#your-link" class="full-link"></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By Laura Garcia</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="assets/images/jpg/a-7.jpg" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">How to become a<br> successful web designer?</h3>
              <p class="description line-clamp-3">You must have the technical prowess required to create functional websites, as well as the artistic talent to build compelling designs.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a href="#your-link" class="full-link"></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By Alice Johnson</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="assets/images/jpg/a-15.jpg" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">The best WordPress themes according to experts.</h3>
              <p class="description line-clamp-3">We compare themes with the best consistency of design, performance and friendly support so you can't go wrong when choosing.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a href="#your-link" class="full-link"></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By Kaled Ahmad</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="assets/images/jpg/a-14.jpg" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">The search for digital marketing has increased.</h3>
              <p class="description line-clamp-3">The growth in the number of users has made companies increasingly invest in this sector, bringing new job opportunities.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a href="#your-link" class="full-link"></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By Dimitri Smirnov</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="assets/images/jpg/a-11.jpg" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">Reading books helps make a person better.</h3>
              <p class="description line-clamp-3">Books are a rich source of information. A good reason to read books is to acquire knowledge in a specific area.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a href="#your-link" class="full-link"></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 load-more-item">
          <div class="card has-image shadow parent">
            <!-- Label -->
            <span class="label-vertical to-bottom-right-out">
              <span class="label-line gray"></span>
              <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By John Young</span>
            </span>
            <!-- Image -->
            <div class="image-wrapper rounded-top hover-zoom">
              <img src="assets/images/jpg/a-21.jpg" alt="Image name" class="image" />
            </div>
            <!-- Body -->
            <div class="card-body rounded-bottom bg-color white">
              <h3 class="title text-style-11 black">The president of the company will give a speech.</h3>
              <p class="description line-clamp-3">He will likely talk about the company's new plans and what's to come in the next few days. It will be an important day.</p>
              <!-- Button -->
              <div class="button-wrapper align-h-right">
                <span class="arrow-button cross scheme-1 primary">
                  <span class="arrow">
                    <span class="item"></span>
                    <span class="item"></span>
                  </span>
                  <span class="line"></span>
                  <span class="text">READ MORE</span>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a href="#your-link" class="full-link"></a>
          </div>
        </div>
      </div>
      <div class="mt-4 text-center">
        <!-- Button -->
        <button id="load-more-button" class="button double-edge transparent black-hover">
          <span class="button-text black white-hover">Load more</span>
          <i class="fa-solid fa-rotate-right button-icon black white-hover"></i>
          <span class="overlay gray-50 magnetic-effect"></span>
        </button>
      </div>
    </div>
  </section>