<section id="education-experiances" class="shock-section pt-5 bg-color gray-10">
    <div class="basic-intro mb-35 text-center">
      <h2 class="title white">
        <span class="text-1 text-style-5">Education And Experience</span>
       </h2>
    </div>

    <div class="container max-w-85">
      <div class="vertical-tab scheme-1 primary pb-2">
        <!-- Tab navigation -->
        <ul id="v-tab" class="nav text-white nav-pills" role="tablist" aria-orientation="vertical" data-sticky="30">
          <li class="nav-item" role="presentation">
            <button id="v-1-tab" class="nav-link active" aria-selected="true" aria-controls="v-1" data-bs-target="#v-1" data-bs-toggle="tab" role="tab">
              <p class="text-white">Education</p>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button id="v-2-tab" class="nav-link" aria-selected="false" aria-controls="v-2" data-bs-target="#v-2" data-bs-toggle="tab" role="tab">
              <p class="text-white">Experiances</p>
            </button>
          </li>
        </ul>
        <!-- Tab content -->
        <div class="tab-content pt-0">
          <div id="v-1" class="tab-pane fade show active" role="tabpanel">
            <!-- Projects -->
            <div class="row g-2">

              <div class="col-12 col-md-6">
                <div class="card parent small-shadow rounded bg-color white">
                  <!-- Icon -->
                  <div class="wishlist-icon primary-25 primary-hover hover-up-down">
                    <i class="fa-solid fa-heart icon primary white-hover"></i>
                  </div>
                  <div class="card-body">
                    <h3 class="title text-style-11 line-clamp-1 black">High School(S.E.E)</h3>

                    <p class="description">I did my scooling from DS Secondary English School. And scored <strong>A+</strong> in SEE examination.</p>
                    <hr class="gray-25">
                    <!-- Tag Cloud -->
                    <div class="tag-cloud">
                      <a href="#your-link" class="link">                      
                        <span class="badge outline gray-50 primary-hover">
                          <span class="badge-text gray white-hover">DS Secondary English School(A Grade)</span>
                        </span>
                      </a>
                      <a href="#your-link" class="link">                      
                        <span class="badge outline gray-50 primary-hover">
                          <span class="badge-text gray white-hover">2004 - 2016</span>
                        </span>
                      </a>
                    </div>
                  </div>
             
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="card parent small-shadow rounded bg-color white">
                  <!-- Icon -->
                  <div class="wishlist-icon primary-25 primary-hover hover-up-down">
                    <i class="fa-solid fa-heart icon primary white-hover"></i>
                  </div>
                  <div class="card-body">
                    <h3 class="title text-style-11 line-clamp-1 black">Management +2(Computer Science)</h3>

                    <p class="description">2+ is an education of 2 years before joining Bachelor. So i choosed management with computer science subject. Where i scored <strong>B+</strong> grade.</p>
                    <hr class="gray-25">
                    <!-- Tag Cloud -->
                    <div class="tag-cloud">
                      <a href="#your-link" class="link">                      
                        <span class="badge outline gray-50 primary-hover">
                          <span class="badge-text gray white-hover">Nobel Academy</span>
                        </span>
                      </a>
                      <a href="#your-link" class="link">                      
                        <span class="badge outline gray-50 primary-hover">
                          <span class="badge-text gray white-hover">2017 - 2019</span>
                        </span>
                      </a>
                    </div>
                  </div>
             
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="card parent small-shadow rounded bg-color white">
                  <!-- Icon -->
                  <div class="wishlist-icon primary-25 primary-hover hover-up-down">
                    <i class="fa-solid fa-heart icon primary white-hover"></i>
                  </div>
                  <div class="card-body">
                    <h3 class="title text-style-11 line-clamp-1 black">BSc(Hons) Computing - Bachelor</h3>

                    <p class="description">BSc(Hons) Computing is an computer science cursor of three years. This is my Bachelor degree therefore I leared a not abu computer science and programming. Not ony that due to curious behaviour of mine in programming I was able to got a job as backend developer (Node js) when I was studying my 2nd years of my Bachelor.</p>
                    <hr class="gray-25">
                    <!-- Tag Cloud -->
                    <div class="tag-cloud">
                      <a href="#your-link" class="link">                      
                        <span class="badge outline gray-50 primary-hover">
                          <span class="badge-text gray white-hover">UCSI University</span>
                        </span>
                      </a>
                      <a href="#your-link" class="link">                      
                        <span class="badge outline gray-50 primary-hover">
                          <span class="badge-text gray white-hover">2020 - 2023</span>
                        </span>
                      </a>
                    </div>
                  </div>
             
                </div>
              </div>
   
            </div>


          </div>      
          <div id="v-2" class="tab-pane fade" role="tabpanel">
            <!-- Projects -->
            <div class="row g-2">

              <div class="col-12 col-md-6">
                <div class="card parent small-shadow rounded bg-color white">
                  <!-- Icon -->
                  <div class="wishlist-icon primary-25 primary-hover hover-up-down">
                    <i class="fa-solid fa-heart icon primary white-hover"></i>
                  </div>
                  <div class="card-body">
                    <h3 class="title text-style-11 line-clamp-1 black">Web Developer</h3>
                    <p class="description">Hyolmosindhu is the Government website that I have developed from scratch. This website is made in WordPress and the website are fully responsive and dynamic. <strong>URL: <a target="_blank" href="https://hyolmosindhu.org.np/">https://hyolmosindhu.org.np/</a></strong></p>
                    <hr class="gray-25">
                    <!-- Tag Cloud -->
                    <div class="tag-cloud">
                      <a href="#your-link" class="link">                      
                        <span class="badge outline gray-50 primary-hover">
                          <span class="badge-text gray white-hover">Hyolmosindhu</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="card parent small-shadow rounded bg-color white">
                  <!-- Icon -->
                  <div class="wishlist-icon primary-25 primary-hover hover-up-down">
                    <i class="fa-solid fa-heart icon primary white-hover"></i>
                  </div>
                  <div class="card-body">
                    <h3 class="title text-style-11 line-clamp-1 black">Internship(Node js)</h3>
                    <p class="description">This training was conducted By our college and in collaboration with Ekbhana. As I was very interested to learn Node js and want to make currier on it, therefore I enroll on this session. Not only that in this training session we are being trained by Roshan Ranabhat who is working on EKbhana. I got an opportunity to learn all the important topics on Node. I really love the way Sir Roshan Ranabhat teaches us, he is a very professional and experienced developer. We built to whole CMS(Content Management System) with a lot of features like user authentication, user logs in and registers and many more. From this training, those who want to make a currier on Node js got an opportunity to do an internship in Ekbhana. But to be eligible for an internship you have to pass the exam and have scored more than 70%. I successfully passed the exam.</p>
                    <hr class="gray-25">
                    <!-- Tag Cloud -->
                    <div class="tag-cloud">
                      <a href="#your-link" class="link">                      
                        <span class="badge outline gray-50 primary-hover">
                          <span class="badge-text gray white-hover">Ekbana Solution Pte. Ltd</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="card parent small-shadow rounded bg-color white">
                  <!-- Icon -->
                  <div class="wishlist-icon primary-25 primary-hover hover-up-down">
                    <i class="fa-solid fa-heart icon primary white-hover"></i>
                  </div>
                  <div class="card-body">
                    <h3 class="title text-style-11 line-clamp-1 black">Backend Developer (Node js)</h3>
                    <p class="description">I am currently working as backend developer in Ekbana. Ekbana is a service based popular company in Nepal. Where more then 200 employees works in projects from all around the world. I got an opportunity to work with experiance developers helping me every time.Skills: <b>. TypeScript</b> <b>. Redis</b> <b>· MySQL</b> <b>· Git</b> <b>· JavaScript</b> <b>· Node.js</b> <b>· Express.js</b> <b>· PostgreSQL</b> <b>· MongoDB</b> <b>· Docker</b></p>
                    <hr class="gray-25">
                    <!-- Tag Cloud -->
                    <div class="tag-cloud">
                      <a href="#your-link" class="link">                      
                        <span class="badge outline gray-50 primary-hover">
                          <span class="badge-text gray white-hover">Ekbana Solution Pte. Ltd</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

