<footer id="footer" class="shock-footer scheme-1 primary" data-bg-color="#191919">
    <div class="top-bar" data-bg-color="#161616">
      <div class="footer-content focus-trigger">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-5 align-h-right align-v-center order-2 order-lg-1">
              <div class="footer-item text-center">
                <!-- Links list -->
                <ul class="nav-list list-unstyled">
                  <li class="nav-item">
                    <a href="tel:+19912345678" class="nav-link has-icon">
                      <img class="image-icon" src="assets/svg/call-sharp.svg" alt="Icon name" data-shock-icon="32" />  
                      <span class="text fw-bold">+1 (99) 1234 5678</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-lg-2 order-1 order-lg-2">
              <div class="footer-item text-center">
                <!-- Brand -->
                <a href="/" class="footer-brand magnetic-effect">
                  <!-- <div class="site-title">Site Title</div> -->
                  <img src="assets/images/logo-white.svg" alt="Shock Theme" class="logo" />
                  <span class="logo-after-text">SHOCK</span>
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-5 align-h-left align-v-center order-3">
              <div class="footer-item text-center">
                <!-- Icon list -->
                <div class="list-wrapper">
                  <ul class="icon-h-list">
                    <li class="item">
                      <a href="#your-link" class="link gray primary-hover hover-rotate"><i class="icon fab fa-facebook-f"></i></a>
                    </li>
                    <li class="item">
                      <a href="#your-link" class="link gray primary-hover hover-rotate"><i class="icon fab fa-twitter"></i></a>
                    </li>
                    <li class="item">
                      <a href="#your-link" class="link gray primary-hover hover-rotate"><i class="icon fab fa-linkedin-in"></i></a>
                    </li>
                    <li class="item">
                      <a href="#your-link" class="link gray primary-hover hover-rotate"><i class="icon fab fa-whatsapp"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content focus-trigger">
      <div class="container">
        <div class="row g-3">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="footer-item text-center">
              <h6 class="title">Quick Links</h6>
              <!-- Links list -->
              <ul class="nav-list list-unstyled">
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Who We Are</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Social Projects</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Our Services</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Success Cases</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Privacy Police</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="footer-item text-center">
              <h6 class="title">Popular Searches</h6>
              <!-- Links list -->
              <ul class="nav-list list-unstyled">
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Photography</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Art Direction</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Graphic Design</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Brand Creation</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Social Media</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="footer-item text-center">
              <h6 class="title">Inspirations</h6>
              <!-- Links list -->
              <ul class="nav-list list-unstyled">
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Web Designer</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Creative Agency</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Online Store</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Interior Design</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#your-link" class="nav-link">
                    <span class="text">Technology</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-bar" data-bg-color="#161616">
      <div class="text">© 2023 - All rights reserved. The <a href="https://codings.dev?redirect=shock-html" class="link gray primary-hover"><u>Shock Theme</u></a> is developed and maintained by <a href="https://codings.dev?ref=shock-html" class="link gray primary-hover"><u>Codings Group</u></a>.</div>
    </div>
  </footer>

    <!-- Cursor -->
    <%- include('./_cursor.ejs') %>

       
      <!-- Google Maps API: https://developers.google.com/maps/get-started -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6s7QK-BWbYB_brkdZU-C1Ex_lwj8SBCw"></script>
  
      <!-- Vendor JavaScript -->
      <script src="/assets/js/vendor/jquery.min.js"></script>
      <script src="/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
      <script src="/assets/js/vendor/preloader.min.js"></script>
      <script src="/assets/js/vendor/inview.min.js"></script>
      <script src="/assets/js/vendor/menu-engine.min.js"></script>
      <script src="/assets/js/vendor/menu-grid.min.js"></script>
      <script src="/assets/js/vendor/bootstrap.min.js"></script>
      <script src="/assets/js/vendor/swiper.min.js"></script>
      <script src="/assets/js/vendor/anime.min.js"></script>
      <script src="/assets/js/vendor/dynamic-slider.min.js"></script>
      <script src="/assets/js/vendor/shuffle.min.js"></script>
      <script src="/assets/js/vendor/stickybits.min.js"></script>
      <script src="/assets/js/vendor/bricklayer.min.js"></script>
      <script src="/assets/js/vendor/lightbox.min.js"></script>
      <script src="/assets/js/vendor/typed.min.js"></script>
      <script src="/assets/js/vendor/progressbar.min.js"></script>
      <script src="/assets/js/vendor/map-styles.min.js"></script>
      <script src="/assets/js/vendor/magnetic-effect.min.js"></script>
      <script src="/assets/js/vendor/gsap.min.js"></script>
      <script src="/assets/js/vendor/aos.min.js"></script>
      <script src="/assets/js/vendor/lax.min.js"></script>
      <script src="/assets/js/vendor/cursor-effect.min.js"></script>
  
      <!-- Main JavaScript -->
      <script src="/assets/js/main.js"></script>