<!DOCTYPE HTML>
<html lang="en">

  <head>

    <!-- Display -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <!-- Identity -->
    <title>Shock - Creative Multipurpose Bootstrap 5 Template</title>
    <meta name="description" content="Shock is a creative multipurpose theme for building websites. It is based on Bootstrap 5 and other of the best and most up-to-date code libraries used by professional developers in the world.">
    <meta name="author" content="Codings">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
  
    <!-- Vendor Style Sheet -->
    <link rel="stylesheet" href="/assets/css/vendor/preloader.min.css" />
    <link rel="stylesheet" href="/assets/css/vendor/font-family.min.css" />
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.min.css" />  
    <link rel="stylesheet" href="/assets/css/vendor/menu-engine.min.css" />
    <link rel="stylesheet" href="/assets/css/vendor/menu-grid.min.css" />
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/vendor/swiper.min.css" />
    <link rel="stylesheet" href="/assets/css/vendor/dynamic-slider.min.css" />
    <link rel="stylesheet" href="/assets/css/vendor/bricklayer.min.css" />
    <link rel="stylesheet" href="/assets/css/vendor/lightbox.min.css" />
    <link rel="stylesheet" href="/assets/css/vendor/aos.min.css" />
  
    <!-- Main Style Sheet -->
    <link rel="stylesheet" href="/assets/css/theme.css" />
    <link rel="stylesheet" href="/assets/css/core.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
  
  </head>