<header id="header" class="shock-header">    
    <!-- Navbar -->
    <nav id="navbar" class="navbar navbar-expand-lg absolute scheme-2">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand drop-shadow white" href="/">
          <!-- <div class="site-title">Site Title</div> -->
          <img src="assets/images/logo.svg" data-logo-alt="assets/images/logo.svg" data-logo-mobile="assets/images/logo.svg" alt="Shock Theme" class="logo" />
          <span class="logo-after-text">SHOCK</span>
        </a>
        <!-- Menu toggle -->
        <div id="menu-toggle" class="menu-toggle is-inactive magnetic-effect scheme-1 primary">
          <div class="menu-toggle-icon">
            <div class="menu-toggle-container">
              <span class="menu-toggle-line-top"></span>
              <span class="menu-toggle-line-middle"></span>
              <span class="menu-toggle-line-bottom"></span>
            </div>
          </div>
          <div class="menu-toggle-circle">
            <svg class="menu-toggle-menu-toggle-svg-circle">
              <path class="menu-toggle-path-circle" fill="none" stroke-miterlimit="10" stroke-width="4" d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2" />
            </svg>
          </div>
          <svg width="0" height="0">
            <mask id="menu-toggle-mask">
              <path class="path-mask" fill="none" stroke-miterlimit="10" stroke-width="4" d="M 34 2 c 11.6 0 21.8 6.2 27.4 15.5 c 2.9 4.8 5 16.5 -9.4 16.5 h -4" />
            </mask>
          </svg>
          <div class="menu-toggle-path">
            <div class="path-animation">
              <div class="path-rotation"></div>
            </div>
          </div>
        </div>
        <!-- Menu grid -->
        <nav id="menu-grid" class="menu-grid scheme-1 primary">
          <div class="menu-grid-item item-1 shadow" data-direction="rl">
            <div class="menu-grid-item-inner" data-bg-color="#1d1d20">
              <!-- Label -->
              <div class="menu-grid-label top">
                <span class="label-vertical">
                  <span class="label-line gray"></span>
                  <span class="label-text gray">SINCE 1986</span>
                </span>
              </div>
              <!-- Label -->
              <div class="menu-grid-label bottom">
                <span class="label-vertical">
                  <span class="label-line gray"></span>
                  <span class="label-text gray">MARKET REFERENCE</span>
                </span>
              </div>
              <!-- Main menu -->
              <div class="menu-grid-main">
                <a href="#your-link" class="menu-grid-main-item menu-item">Stories</a>
                <a href="#your-link" class="menu-grid-main-item menu-item">Portfolio</a>
                <a href="#your-link" class="menu-grid-main-item menu-item">Insights</a>
                <a href="#your-link" class="menu-grid-main-item menu-item">Contact</a>
              </div> 
              <!-- Form -->
              <div class="menu-grid-search focus-trigger">
                <div class="form-area scheme-2 white">
                  <form class="form-fields needs-validation" novalidate="novalidate">
                    <div class="form-row row has-icon">
                      <div class="form-col form-floating">
                        <button class="button overlay-button"><i class="fa-solid fa-magnifying-glass overlay-icon"></i></button>
                        <input id="InputSearchMenu" class="form-control focus-trigger-field" placeholder="Type keywords..." required="required">
                        <label for="InputSearchMenu" class="form-label">Type keywords...</label>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </nav>   
  </header>