<!-- Carousel -->
<section class="shock-section">
    <div class="gallery swiper slider has-navigation scheme-4 primary" data-columns="3,2,1,1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="/img/instagram/image1.jpg" class="item lightbox-link parent hover-grayscale">
            <div class="text-wrapper text-center">
              <h3 class="title text-style-5 white">Post From Instagram</h3>
            </div>
            <div class="image-wrapper">
              <img src="/img/instagram/image1.jpg" class="image vh-75 fit-cover" alt="This is an example description for this item." />
              <div class="overlay black-75"></div>
            </div>
          </a>
        </div>
    
        <div class="swiper-slide">
          <a href="/img/instagram/iamge2.jpg" class="item lightbox-link parent hover-grayscale">
            <div class="text-wrapper text-center">
              <h3 class="title text-style-5 white">Post From Instagram</h3>
            </div>
            <div class="image-wrapper">
              <img src="/img/instagram/iamge2.jpg" class="image vh-75 fit-cover" alt="This is an example description for this item." />
              <div class="overlay black-75"></div>
            </div>
          </a>
        </div>
    
        <div class="swiper-slide">
          <a href="/img/instagram/image3.jpg" class="item lightbox-link parent hover-grayscale">
            <div class="text-wrapper text-center">
              <h3 class="title text-style-5 white">Post From Instagram</h3>
            </div>
            <div class="image-wrapper">
              <img src="/img/instagram/image3.jpg" class="image vh-75 fit-cover" alt="This is an example description for this item." />
              <div class="overlay black-75"></div>
            </div>
          </a>
        </div>
    
        <div class="swiper-slide">
          <a href="/img/instagram/image4.jpg" class="item lightbox-link parent hover-grayscale">
            <div class="text-wrapper text-center">
              <h3 class="title text-style-5 white">Post From Instagram</h3>
            </div>
            <div class="image-wrapper">
              <img src="/img/instagram/image4.jpg" class="image vh-75 fit-cover" alt="This is an example description for this item." />
              <div class="overlay black-75"></div>
            </div>
          </a>
        </div>
       
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    </section>