<!-- Carousel -->
<section class="shock-section">
    <div class="gallery swiper slider has-navigation scheme-4 primary" data-columns="3,2,1,1">
      <div class="swiper-wrapper">

        <% photos.forEach((photo)=>{ %>
          <div class="swiper-slide">
            <a href="<%= photo.mediaUrl ? photo?.mediaUrl : '' %>" class="item lightbox-link parent hover-grayscale">
              <div class="text-wrapper text-center">
                <h3 class="title text-style-5 white">Post From Instagram</h3>
              </div>
              <div class="image-wrapper">
                <img src="<%= photo.mediaUrl ? photo?.mediaUrl : '' %>" class="image vh-75 fit-cover" alt="This is an example description for this item." />
                <div class="overlay black-75"></div>
              </div>
            </a>
          </div>
        <%}) %>
     
       
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    </section>