<main id="main" class="shock-main" data-bg-color="#161616">

    <!-- Banner / Progress bar -->
    <section class="shock-section">
      <div class="banner overflow-hidden">
        <div class="row g-5">
          <div class="col-12 col-lg-5">
            <!-- Image -->
            <div class="image-wrapper">
              <img src="/assets/images/jpg/c-11.jpg" alt="Image name" class="image min-vh-100 fit-cover" />
            </div>
          </div>
          <div class="col-12 col-lg-7 align-v-center">
            <div class="holder max-w-85 p-2">
              <!-- Intro -->
              <div class="side-intro mb-35">
                <h2 class="title">
                  <span class="text-1 text-style-2 text-outline gray">Hey, guys!</span>
                  <span class="text-2 text-style-3 text-italic white">I'm <span class="typed-text"></span></span>
                </h2>
                <!-- Srings -->
                <div id="typed-strings">
                  <span>John Young</span>
                  <span>Freelancer</span>
                  <span>Programmer</span>
                  <span>Web designer</span>
                </div>  
                <div class="description text-style-12 gray">
                  <p>Design is a concept that represents the process of creating products based on technical and aesthetic excellence.</p>
                </div>
              </div>
              <!-- Progress bar -->
              <div class="line-progress-bar margin-holder">
                <div class="item">
                  <h3 class="title text-style-11 white">React Native</h3>
                  <div class="counter" data-value="100" data-symbol="%" data-duration="2500" data-bar-stroke="0.5" data-bar-stroke-empty="0.5" data-bar-color="var(--primary-color)" data-empty-bar-color="var(--white-25-color)" data-text-bg-color="var(--primary-color)" data-text-color="var(--white-color)"></div>
                </div>            
                <div class="item">
                  <h3 class="title text-style-11 white">Laravel Framework</h3>
                  <div class="counter" data-value="87" data-symbol="%" data-duration="2500" data-bar-stroke="0.5" data-bar-stroke-empty="0.5" data-bar-color="var(--primary-color)" data-empty-bar-color="var(--white-25-color)" data-text-bg-color="var(--primary-color)" data-text-color="var(--white-color)"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Scrolling text -->
    <section class="shock-section">
      <div class="scrolling-text has-image align-h-right">
        <!-- Image -->
        <div class="image-wrapper max-w-25 mb-5">
          <img src="/assets/images/jpg/c-12.jpg" alt="Image name" class="image floating-item" />
        </div>
        <!-- Text -->
        <div class="text-wrapper mix-blend-lighter">
          <h2 class="text text-style-1 text-outline gray-75" data-lax="h-right">Development is the action of doing something</h2>
          <h2 class="text text-style-8 text-italic gray-75" data-lax="h-left">We provide our art to ensure that human insights work well together with technology, brand and business, with a focus on fast and assertive results</h2>
        </div>    
      </div>
    </section>

    <!-- Gallery -->
    <section class="shock-section pt-4 pb-6">
      <div class="container max-w-85">
        <div class="row g-4">
          <div class="col-12 col-md-6">
            <!-- Gallery -->
            <div class="gallery climb">
              <div class="row g-1">
                <div class="col-4">
                  <a href="/assets/images/png/a-1.png" class="item lightbox-link hover-opacity">
                    <div class="image-wrapper">
                      <div class="overlay has-border top-item left-item gray"></div>
                      <img src="/assets/images/png/a-1.png" class="image p-1 fit-cover" alt="This is an example description for this item." />
                    </div>
                  </a>
                </div>
                <div class="col-4">
                  <a href="/assets/images/png/a-2.png" class="item lightbox-link hover-opacity">
                    <div class="image-wrapper">
                      <div class="overlay has-border top-item gray"></div>
                      <img src="/assets/images/png/a-2.png" class="image p-1 fit-cover" alt="This is an example description for this item." />
                    </div>
                  </a>
                </div>
                <div class="col-4">
                  <a href="/assets/images/png/a-3.png" class="item lightbox-link hover-opacity">
                    <div class="image-wrapper">
                      <div class="overlay has-border top-item border-end-0 gray"></div>
                      <img src="/assets/images/png/a-3.png" class="image p-1 fit-cover" alt="This is an example description for this item." />
                    </div>
                  </a>
                </div>
                <div class="col-4">
                  <a href="/assets/images/png/a-4.png" class="item lightbox-link hover-opacity">
                    <div class="image-wrapper">
                      <div class="overlay has-border bottom-item left-item gray"></div>
                      <img src="/assets/images/png/a-4.png" class="image p-1 fit-cover" alt="This is an example description for this item." />
                    </div>
                  </a>
                </div>
                <div class="col-4">
                  <a href="/assets/images/png/a-6.png" class="item lightbox-link hover-opacity">
                    <div class="image-wrapper">
                      <div class="overlay has-border bottom-item gray"></div>
                      <img src="/assets/images/png/a-6.png" class="image p-1 fit-cover" alt="This is an example description for this item." />
                    </div>
                  </a>
                </div>
                <div class="col-4">
                  <a href="/assets/images/png/a-8.png" class="item lightbox-link hover-opacity">
                    <div class="image-wrapper">
                      <div class="overlay has-border bottom-item border-end-0 gray"></div>
                      <img src="/assets/images/png/a-8.png" class="image p-1 fit-cover" alt="This is an example description for this item." />
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 align-v-center">
            <div class="holder">
              <!-- Intro -->
              <div class="basic-intro">
                <h2 class="title text-style-5">
                  <span class="text-1 text-outline gray">Powerful </span>
                  <span class="text-2 text-italic white"><mark class="animated-underline primary">tools</mark>.</span>
                </h2>
                <div class="description text-style-12 gray">
                  <p>We use the best technologies available on the market to ensure that our customers obtain positive results.</p>
                </div>
              </div>
              <hr class="gray-25">
              <figure class="blockquote">
                <blockquote class="blockquote-body text-style-11 white">
                  <p>"The design is not just what it looks like. The design is how it works".</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  <cite title="Source Title">Steve Jobs / Apple Founder</cite>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Carousel -->
    <section class="shock-section">
      <div class="gallery swiper slider has-navigation scheme-4 primary" data-columns="3,2,1,1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/assets/images/jpg/b-28.jpg" class="item lightbox-link parent hover-grayscale">
              <div class="text-wrapper text-center">
                <h3 class="title text-style-5 white">Some Title</h3>
              </div>
              <div class="image-wrapper">
                <img src="/assets/images/jpg/b-28.jpg" class="image vh-75 fit-cover" alt="This is an example description for this item." />
                <div class="overlay black-75"></div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/assets/images/jpg/c-13.jpg" class="item lightbox-link parent hover-grayscale">
              <div class="text-wrapper text-center">
                <h3 class="title text-style-5 white">Some Title</h3>
              </div>
              <div class="image-wrapper">
                <img src="/assets/images/jpg/c-13.jpg" class="image vh-75 fit-cover" alt="This is an example description for this item." />
                <div class="overlay black-75"></div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <!-- Video -->
            <a href="https://vimeo.com/222990241" class="item lightbox-link parent hover-grayscale">
              <i class="fa-solid fa-circle-play gallery-icon white floating-item"></i>
              <div class="image-wrapper">
                <img src="/assets/images/jpg/c-14.jpg" class="image vh-75 fit-cover" alt="This is an example description for this item." />
                <div class="overlay black-75"></div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/assets/images/jpg/c-15.jpg" class="item lightbox-link parent hover-grayscale">
              <div class="text-wrapper text-center">
                <h3 class="title text-style-5 white">Some Title</h3>
              </div>
              <div class="image-wrapper">
                <img src="/assets/images/jpg/c-15.jpg" class="image vh-75 fit-cover" alt="This is an example description for this item." />
                <div class="overlay black-75"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </section>

    <!-- Card -->
    <section class="shock-section pt-6 pb-6">
      <div class="container">
        <div class="row g-4">
          <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
            <div class="card has-icon parent">
              <div class="card-body">
                <i class="fa-brands fa-wordpress card-icon primary"></i>
                <h3 class="title text-style-11 white">Website Premium</h3>
                <p class="description gray">The website is the first contact a consumer will have with your brand. For this reason, it is very important.</p>
                <!-- Button -->
                <div class="button-wrapper align-h-right hover-up-down">
                  <a href="#modal" class="button double-edge transparent primary-hover" data-bs-toggle="modal" data-bs-target="#modal">
                    <span class="button-text white white-hover">Get Started</span>
                    <span class="overlay gray-50 magnetic-effect"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="800">
            <div class="card has-icon parent">
              <div class="card-body">
                <i class="fa-brands fa-apple card-icon primary"></i>
                <h3 class="title text-style-11 white">Mobile App</h3>
                <p class="description gray">The technology must be invisible to the user's eyes. It is essential to think of the mobile application as a product.</p>
                <!-- Button -->
                <div class="button-wrapper align-h-right hover-up-down">
                  <a href="#modal" class="button double-edge transparent primary-hover" data-bs-toggle="modal" data-bs-target="#modal">
                    <span class="button-text white white-hover">Get Started</span>
                    <span class="overlay gray-50 magnetic-effect"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="1200">
            <div class="card has-icon parent">
              <div class="card-body">
                <i class="fa-brands fa-playstation card-icon primary"></i>
                <h3 class="title text-style-11 white">Game Development</h3>
                <p class="description gray">One of the most profitable digital segments in the world requires a creative team to make your idea a reality.</p>
                <!-- Button -->
                <div class="button-wrapper align-h-right hover-up-down">
                  <a href="#modal" class="button double-edge transparent primary-hover" data-bs-toggle="modal" data-bs-target="#modal">
                    <span class="button-text white white-hover">Get Started</span>
                    <span class="overlay gray-50 magnetic-effect"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Map -->
    <section class="shock-section">
      <div id="map-canvas-4" class="vh-50"></div>
    </section>

  </main>