<section class="shock-section pt-4 pb-4">
    <div class="container">
      <div class="row g-4">
        <div class="col-12 col-md-7">
          <div class="holder">
            <!-- Intro -->
            <div class="basic-intro mb-35">
              <h2 class="title black">
                <span class="text-1 text-white text-style-5">My Skills </span>
                <!-- <span class="text-2 text-style-5 fw-400 text-outline text-italic">extraordinary.</span> -->
              </h2>
      
            </div>
            <!-- Progress bar -->
            <div class="line-progress-bar">
              <div class="item">
                <h3 class="title text-white text-style-11 black">Node Js</h3>
                <div class="counter" data-value="95" data-symbol="%" data-duration="2500" data-bar-stroke="0.5" data-bar-stroke-empty="0.5" data-bar-color="var(--primary-color)" data-empty-bar-color="var(--gray-50-color)" data-text-bg-color="var(--black-color)" data-text-color="var(--white-color)"></div>
              </div>            
              <div class="item">
                <h3 class="title text-white text-style-11 black">JavaScript</h3>
                <div class="counter" data-value="87" data-symbol="%" data-duration="2500" data-bar-stroke="0.5" data-bar-stroke-empty="0.5" data-bar-color="var(--primary-color)" data-empty-bar-color="var(--gray-50-color)" data-text-bg-color="var(--black-color)" data-text-color="var(--white-color)"></div>
              </div>            
              <div class="item">
                <h3 class="title text-white text-style-11 black">TypeScript</h3>
                <div class="counter" data-value="75" data-symbol="%" data-duration="2500" data-bar-stroke="0.5" data-bar-stroke-empty="0.5" data-bar-color="var(--primary-color)" data-empty-bar-color="var(--gray-50-color)" data-text-bg-color="var(--black-color)" data-text-color="var(--white-color)"></div>
              </div> 
              <div class="item">
                <h3 class="title text-white text-style-11 black">PostgreSQL</h3>
                <div class="counter" data-value="85" data-symbol="%" data-duration="2500" data-bar-stroke="0.5" data-bar-stroke-empty="0.5" data-bar-color="var(--primary-color)" data-empty-bar-color="var(--gray-50-color)" data-text-bg-color="var(--black-color)" data-text-color="var(--white-color)"></div>
              </div>  
              <div class="item">
                <h3 class="title text-white text-style-11 black">MongoDB</h3>
                <div class="counter" data-value="75" data-symbol="%" data-duration="2500" data-bar-stroke="0.5" data-bar-stroke-empty="0.5" data-bar-color="var(--primary-color)" data-empty-bar-color="var(--gray-50-color)" data-text-bg-color="var(--black-color)" data-text-color="var(--white-color)"></div>
              </div> 
              <div class="item">
                <h3 class="title text-white text-style-11 black">Git</h3>
                <div class="counter" data-value="90" data-symbol="%" data-duration="2500" data-bar-stroke="0.5" data-bar-stroke-empty="0.5" data-bar-color="var(--primary-color)" data-empty-bar-color="var(--gray-50-color)" data-text-bg-color="var(--black-color)" data-text-color="var(--white-color)"></div>
              </div>          
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5" data-aos="fade-up" data-aos-delay="300">
          <!-- Image -->
          <div class="image-wrapper shadow" data-lax="inertia-top">
            <img src="/img/thumbs/skills.jpg" class="image" alt="This is an example description for this item." />
          </div>
        </div>
      </div>
    </div>
  </section>