<div id="popup-box" class="popup-box d-none">
    <div class="card parent">
      <div class="card-body rounded-3 small-shadow text-center bg-color white">
        <h3 class="title max-w-85 mx-auto text-style-11 black">
          <span class="bg-color white">Do you like cookies? 🍪</span>
          <span class="zzz over-text scheme-1 gray"></span>
        </h3>
        <p class="description">We use cookie technology to provide you with a better browsing experience. You accept our terms if you continue to use this site.</p>
        <!-- Button -->
        <div class="button-wrapper align-h-center">
          <a href="#your-link" target="_blank" class="button simple">
            <span class="button-text black black-hover">Read more</span>
          </a>
          <button id="popup-box-dismiss" class="button simple">
            <span class="button-text black black-hover"><mark class="animated-underline accent">Accept terms</mark></span>
            <i class="fa-solid fa-arrow-right button-icon black black-hover"></i>
          </button>
        </div>
      </div>
    </div>
  </div>