
 <section class="shock-section pt-3 pb-3">
    <div class="container">
      <!-- Intro -->
      <div class="basic-intro mb-35 text-center">
        <h2 class="title white">
          <span class="text-1 text-style-5">Projects</span>
         </h2>
      </div>
      
      <!-- Gallery -->
      <div class="shuffle">
        <div class="horizontal-tab scheme-1 accent">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <button class="nav-link shuffle-button active text-white" data-value="All">All Projects</button>
            </li>
            <li class="nav-item">
              <button class="nav-link shuffle-button" data-value="Nodejs">Node(Express)</button>
            </li>
            <li class="nav-item">
              <button class="nav-link shuffle-button" data-value="Htmlcss">Html CSS</button>
            </li>
            <li class="nav-item">
              <button class="nav-link shuffle-button" data-value="Wordpress">WordPress</button>
            </li>
            <li class="nav-item">
              <button class="nav-link shuffle-button" data-value="Technology">Nest Js</button>
            </li>
          </ul>
          <div class="row">
            <div class="gallery stretched-top has-gap shuffle-container">
          
              <div class="col-12 col-md-6 col-lg-4 shuffle-item" data-groups='["Nodejs","Wordpress","Architecture"]'>
                <a href="https://vimeo.com/222990241" class="item active lightbox-link hover-zoom-rotate">
                  <i class="fa-solid fa-circle-play gallery-icon white floating-item"></i>
                  <div class="image-wrapper small-shadow rounded">
                    <img src="img/projects/tikdownloader/tik.jpg" class="image" alt="This is an example description for this item." />
                    <div class="overlay black-50"></div>
                  </div>
                </a>
              </div>
         
              <div class="col-12 col-md-6 col-lg-4 shuffle-item" data-groups='["Htmlcss","Technology"]'>
                <a href="assets/images/jpg/h-6.jpg" class="item lightbox-link hover-zoom-rotate">
                  <div class="image-wrapper small-shadow rounded">
                    <img src="assets/images/jpg/h-6.jpg" class="image" alt="This is an example description for this item." />
                    <div class="overlay black-50"></div>
                  </div>
                </a>
              </div>
           
              <div class="col-12 col-md-6 col-lg-4 shuffle-item" data-groups='["Wordpress","Technology","Architecture"]'>
                <a href="assets/images/jpg/h-8.jpg" class="item lightbox-link hover-zoom-rotate">
                  <div class="image-wrapper small-shadow rounded">
                    <img src="img/projects/bravehearts/bravehearts.jpg" class="image" alt="This is an example description for this item." />
                    <div class="overlay black-50"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-1 shuffle-sizer"></div>
          </div>
        </div>
      </div>
    </div>
  </section>