<section class="shock-section has-holder pt-4">
    <div class="container max-w-75">
      <!-- Intro -->
      <div class="basic-intro text-center">
        <h1 class="title black">
          <span class="text-1 text-white d-block text-style-2 text-outline">Services</span>
        </h1>
      </div>
    </div>
  </section>


<!-- Card -->
<section id="services" class="shock-section pt-5 pb-4 bg-color black">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card double-edge has-icon parent">
          <div class="card-body">
            <img class="card-image-icon primary" src="assets/svg/cube-outline.svg" alt="Icon name" data-shock-icon="32" />
            <h3 class="title text-style-11 white">Web Development</h3>
            <p class="description">Web development is the building and maintenance of websites. it’s the work that.</p>
            <!-- Button -->
            <div class="button-wrapper align-h-right">
              <span class="arrow-button cross scheme-2 primary">
                <span class="arrow">
                  <span class="item"></span>
                  <span class="item"></span>
                </span>
                <span class="line"></span>
                <span class="text">VIEW MORE</span>
              </span>
            </div>
          </div>
          <!-- Link -->
          <a href="#your-link" class="full-link">
            <div class="overlay gray-25 magnetic-effect"></div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="card double-edge has-icon parent">
          <div class="card-body">
            <img class="card-image-icon primary" src="assets/svg/layers-outline.svg" alt="Icon name" data-shock-icon="32" />
            <h3 class="title text-style-11 white">Web Application</h3>
            <p class="description">Web development is the building and maintenance of websites. it’s the work that.</p>
            <!-- Button -->
            <div class="button-wrapper align-h-right">
              <span class="arrow-button cross scheme-2 primary">
                <span class="arrow">
                  <span class="item"></span>
                  <span class="item"></span>
                </span>
                <span class="line"></span>
                <span class="text">VIEW MORE</span>
              </span>
            </div>
          </div>
          <!-- Link -->
          <a href="#your-link" class="full-link">
            <div class="overlay gray-25 magnetic-effect"></div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="card double-edge has-icon parent">
          <div class="card-body">
            <img class="card-image-icon primary" src="assets/svg/videocam-outline.svg" alt="Icon name" data-shock-icon="32" />
            <h3 class="title text-style-11 white">API Development</h3>
            <p class="description">API to amplify your existing software or connect it with third-party services. Integrate your interface with other apps, devices, and business systems seamlessly and hassle.</p>
            <!-- Button -->
            <div class="button-wrapper align-h-right">
              <span class="arrow-button cross scheme-2 primary">
                <span class="arrow">
                  <span class="item"></span>
                  <span class="item"></span>
                </span>
                <span class="line"></span>
                <span class="text">VIEW MORE</span>
              </span>
            </div>
          </div>
          <!-- Link -->
          <a href="#your-link" class="full-link">
            <div class="overlay gray-25 magnetic-effect"></div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="card double-edge has-icon parent">
          <div class="card-body">
            <img class="card-image-icon primary" src="assets/svg/bag-check-outline.svg" alt="Icon name" data-shock-icon="32" />
            <h3 class="title text-style-11 white">Personal Creation</h3>
            <p class="description">API to amplify your existing software or connect it with third-party services. Integrate your interface with other apps, devices, and business systems seamlessly and hassle.</p>
            <!-- Button -->
            <div class="button-wrapper align-h-right">
              <span class="arrow-button cross scheme-2 primary">
                <span class="arrow">
                  <span class="item"></span>
                  <span class="item"></span>
                </span>
                <span class="line"></span>
                <span class="text">VIEW MORE</span>
              </span>
            </div>
          </div>
          <!-- Link -->
          <a href="#your-link" class="full-link">
            <div class="overlay gray-25 magnetic-effect"></div>
          </a>
        </div>
      </div>
   
    </div>
  </div>
</section>